**/artifacts/
/build-eagler/
/build-eagler-multiplayer/
**/node_modules/
**/.cache/
**/.npm-cache/
**/.pip-cache/
**/test-results/
**/tools/node.exe
**/tools/emsdk/
**/tools/wasi-sdk*/
[[]th08[]]*/
[[]th10[]]*/
/thcrap/
th10_web/assets/sdl-native/*.ttc
th10_web/assets/sdl-native/*.ttf
*.exe
*.dll
*.wasm
*.o
*.obj
*.a
*.bin
*.dat
*.wav
*.ogg
*.flac
*.rpy
*.rpyx
score*.dat
*.cfg
*.log
.env
.npmrc
